<div class="detail">
		<% @top_headlines.each do |top_headline| %>
		<div class="col-md-4">
			<div class="well">
				<div class="img-box">
				<img src= <%= top_headline.urlToImage %>>
				</div>
				<h3><%= top_headline.title %></h3>
				<h4><%= top_headline.desctiption %></h4>
				<%= link_to top_headline.url %>
				<p><%= link_to top_headline.content %></p>
				<% if newses.favorited_by?(current_user) %>
  <li>
    <%= link_to newses_favorites_path(@newses), method: :delete do %>
      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
      <%= @newses.favorites.count %> いいね
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to newses_favorites_path(@post_image), method: :post do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <%= newses.favorites.count %> いいね
    <% end %>
  </li>
<% end %>
			</div>
	    </div>
</div>