
<div class="row user">
	<div class="col-md-2">
		<div class="user profile">
			<%= render'articles/list', user: current_user%>
		</div>
		<div class="comment">
			<%= link_to 'コメントする', articles_image_path, class: "btn-btn primary" %>
		</div>
		<h3>世界の国々のニュース</h3>
		<ul>
		<li><%= link_to 'アメリカ', region_path(1) , class: "btn btn-default", data: {"turbolinks" => false}%></li>
        <li><%= link_to 'メキシコ', region_path(2), class: "btn btn-default",data: {"turbolinks" => false}%></li>
        <li><%= link_to 'ブラジル', region_path(3), class: "btn btn-default",data: {"turbolinks" => false} %></li>
        <li><%= link_to 'イギリス', region_path(4), class: "btn btn-default",data: {"turbolinks" => false} %></li>
        <li><%= link_to 'ロシア', region_path(5), class: "btn btn-default",data: {"turbolinks" => false} %></li>
        <li><%= link_to 'フランス', region_path(6), class: "btn btn-default",data: {"turbolinks" => false} %></li>
        <li><%= link_to '韓国', region_path(7), class: "btn btn-default",data: {"turbolinks" => false} %></li>
        <li><%= link_to 'オーストラリア', region_path(8), class: "btn btn-default",data: {"turbolinks" => false} %></li>
        <li><%= link_to '日本', region_path(9), class: "btn btn-default",data: {"turbolinks" => false} %></li>
        <ul>
	</div>
	<div class="col-md-10">
	    <div class="row">
			<div class="col-md-6">
				<div id="container">
					<div id="slide">
						<div class="new1"></div>
						<div class="new2"></div>
						<div class="new3"></div>
						<div class="new4"></div>
					</div>
				</div>
			</div>
	    </div>
		<div class="row">
			<% @articles.each do |article| %>
				<div class="col-md-4">
					<div class="well">
						<%= link_to article.url do %>
						    <div class="img-box">
						    <img src=<%= article.image %>>
						    </div>
					        <%= article.name %>
							<h3><%= article.title %></h3>
							<p><%= article.text %></p>
						<% end %>
						<div id="favorites_buttons_<%= article.id %>">
	                        <%= render partial: 'favorites/favorite', locals: { article: article} %>
	                    </div>
					</div>
				</div>
			<% end %>

		</div>
    </div>

</div>
