<div class="container">
	<div class="row">
		<div class="col-md6 col-offset-3">
			<%= form_for(@news) do |news| %>
	    <% if @post_image.errors.any? %>
        <%= @post_image.errors.count %>件のエラーが発生しました
        <% @post_image.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>

    <%= form_for(@news) do |f|  %>
    <%= f.attachment_field :image %>
    <%= f.text_field :title %>
    <%= f.text_area :text %>
    <%= f.submit %>
<% end %>
		</div>
	</div>
</div>