<!DOCTYPE html>
<html>
  <head>
    <title>LocateNews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="nav navbar-inverse new">
      <div id="sp-menu">
      <h1>MENU</h1>
      <ul>
        <li><a href="#">総合トップ</a></li>
        <li><a href="#">マイニュース</a></li>
        <li><a href="#">テクノロジー</a></li>
        <li><a href="#">ビジネス</a></li>
        <li><a href="#">政治・経済</a></li>
        <li><a href="#">金融・マーケット</a></li>
        <li><a href="#">キャリア・教育</a></li>
        <li><a href="#">社会・スポーツ</a></li>
      </ul>
      </div>
      <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
      </div>

      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>

        <div class="logo">
          <h4><%= link_to 'LocateNews', root_path, :style =>"color:white;" %></h4>
        </div>
        <div class="col-md-12">
        </div>
    </header>
    <%= yield %>
  </body>
</html>
